{% extends 'base.html' %}

{% block title %}{{ super() }} Dashboard {% endblock %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Posts</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Posts</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
    {% for post in posts %}
        <div class="col-sm-4">
            <div class="card card-widget">
                <div class="card-header">
                  <div class="user-block">
                    {% if post.user.image %}
                    <img class="img-circle img-bordered-sm" src="{{url_for('static', filename='uploads/profile/')}}{{post.user.image}}" alt="User Image">
                    {% endif %}
                    <span class="username"><a href="{{ url_for('profile', id=post.user.id) }}">{{post.user.name}}</a></span>
                    <span class="description">{{post.title}}</span>
                  </div>
                  <!-- /.user-block -->
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                      <i class="fa fa-circle-o"></i></button>
                    <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  {% if post.image %}
                  <img class="img-fluid pad" src="{{url_for('static', filename='uploads/')}}{{post.image}}" alt="Photo">
                  {% endif %}
                  <p>{{post.content}}</p>
                </div>
                <!-- /.card-body -->    
                <div class="card-footer">
                    <a class="btn btn-info pull-right" href="{{ url_for('show', id=post.id) }}">Show</a>
                    {% if post.user.id == current_user.id %}
                    <a class="btn btn-primary pull-right" href="{{ url_for('edit_post', id=post.id) }}">Edit</a>
                    <a class="btn btn-danger pull-right" href="{{ url_for('del_post', id=post.id) }}">Delete</a>
                    {% endif %}
                </div>
                <!-- /.card-footer-->                  
              </div>
        </div>
    {% endfor %}
    </div>

  </section>
  <!-- /.content -->
  {% endblock %}